.App {
  text-align: center;
}
body{
  font-size: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body-height{
  min-height: calc(100vh - 120px);
}
.overlay{
  position: absolute;
  left:40%;
  z-index: 1;
  background-color: white;
}
.active{
   font-weight: bolder;
}

.accordian-height{
  height:40px !important;
}
.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  left:50%;
  top:50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#overlay{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
}
.dropoverlay{
  position: absolute;
  z-index: 1;
  
}
.my_profile_box {width: 100%;max-width: 177px;margin-bottom: 30px;margin-top: 11px;position: relative;}
.college-logo{max-width: 180px;margin: 0 auto 24px;border: 1px dashed #ddd;text-align: center;padding: 15px;}
.college-logo img{max-height: 100px;}
.files_type {width: 114px; border-radius: 50%;height: 140px;position: absolute;top: 0;z-index: 9999;opacity: 0;left: 0;}
.requireds{
  color: red;
}
label.required::after {
    content: "*";
    color: rgb(219, 22, 22);
    padding: 5px;
    font-size: 17px;
    vertical-align: middle;
  }